@import "sanitize.css";
@import "source-serif-text.css";
/* This page is set in Source Serif, designed by Frank Grießhammer
   Copyright 2014-2021 Adobe, used under the terms of the SIL license
   https://adobe-fonts.github.io/source-serif/ */

:root {
    --color-text: rgb(54, 54, 54);
    --color-background: rgb(250, 250, 250);
}

html {
    color: var(--color-text);
    background-color: var(--color-background);
}

body {
    font-family: "Source Serif", serif;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
    padding: 0 3em;
}

h1 {
    font-size: 3em;
}

a {
    color: var(--color-text);
}

a.journal {
    font-style: italic;
}

#container {
    margin: 3em auto 3em auto;
    max-width: 900px;
}

#body p {
    font-size: 1.4em;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#photo {
    overflow: hidden;
}

#photo img {
    max-width: 135%;
    max-height: auto;
    margin-left: -14%;
    padding-bottom: 2em;
}

#text {
    text-align: left;
}

#text p:first-child {
    margin-top: 0;
}

@media (max-width: 600px) {
    body {
        padding: 0 2em;
    }

    h1 {
        font-size: 2.8em;
    }

    #body {
        display: block;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 2.4em;
    }
}
